<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
     <!--<add name="betaskdbEntitiesAPP" connectionString="metadata=res://*/EDMX.BETaskAPPModel.csdl|res://*/EDMX.BETaskAPPModel.ssdl|res://*/EDMX.BETaskAPPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=betaskapi_test.letzservices.com;initial catalog=betaskdb_test;persist security info=True;user id=usr_betask_cloud;password=pwd_betask_cloud;connect timeout=120;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--  <add name="betaskdbEntitiesAPP" connectionString="metadata=res://*/EDMX.BETaskAPPModel.csdl|res://*/EDMX.BETaskAPPModel.ssdl|res://*/EDMX.BETaskAPPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=betaskapi_jabal.letzservices.com;initial catalog=betaskdb;persist security info=True;user id=usr_betask_cloud;password=pwd_betask_cloud;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--<add name="betaskdbEntitiesAPP" connectionString="metadata=res://*/EDMX.BETaskAPPModel.csdl|res://*/EDMX.BETaskAPPModel.ssdl|res://*/EDMX.BETaskAPPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-FTUUVRVR\Q10SQLSERVER2019;initial catalog=betaskdb;persist security info=True;user id=usr_betask;password=pwd_betask;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="betaskdbEntitiesAPP" connectionString="metadata=res://*/EDMX.BETaskAPPModel.csdl|res://*/EDMX.BETaskAPPModel.ssdl|res://*/EDMX.BETaskAPPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=betask_falcon_test.letzservices.com_Dummy;initial catalog=temp_falcon_cloud;user id=usr_betask;password=pwd_betask;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>