<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BETaskSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="betaskdbEntities" connectionString="metadata=res://*/EDMX.BETaskAPI.csdl|res://*/EDMX.BETaskAPI.ssdl|res://*/EDMX.BETaskAPI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.50.212.81;initial catalog=betaskdb_test;persist security info=True;user id=usr_betask_cloud;password=pwd_betask_cloud;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   <add name="betaskdbEntities" connectionString="metadata=res://*/EDMX.BETaskAPI.csdl|res://*/EDMX.BETaskAPI.ssdl|res://*/EDMX.BETaskAPI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=betask_falcon_test.letzservices.com;initial catalog=betaskdb_falcon_test;user id=usr_betask_cloud;password=pwd_betask_cloud;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="betaskdbEntities" connectionString="metadata=res://*/EDMX.BETaskAPI.csdl|res://*/EDMX.BETaskAPI.ssdl|res://*/EDMX.BETaskAPI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=azureserver.letzservices.com;initial catalog=betaskdb_test;persist security info=True;user id=usr_betask_cloud;password=pwd_betask_cloud;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="betaskdbEntitiesLocal" connectionString="metadata=res://*/EDMX.BETaskLocal.csdl|res://*/EDMX.BETaskLocal.ssdl|res://*/EDMX.BETaskLocal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-FTUUVRVR\Q10SQLSERVER2019;initial catalog=DEV_betaskdb_falcon;persist security info=True;user id=usr_betask;password=pwd_betask;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <BETaskSync.Properties.Settings>
      <setting name="SyncInterval" serializeAs="String">
        <value>60000</value>
      </setting>
    </BETaskSync.Properties.Settings>
  </applicationSettings>
</configuration>